*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(img/jumbo.png);
    min-height: 400px;
    background-size: cover;
    

}
header,main,footer{
    max-width: 1200px;
    margin:0 auto;
    
}
.display-flex{
    display: flex;
    justify-content: center;
    margin: 50px;
     
}
.logo,.link,.login{
    
    width: 900px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
.link{
    display: flex;
    justify-content: space-around;
    
    
   
}
.login{
    display: flex;
    justify-content:flex-end;
}
.button{
    border-radius: 30% 30% 30% 30%;
    background-color: white;
    border-color: white;
    padding: 10px;
    
}
.containerdue{
    text-align: center;
    
   

}
main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sfondo{
    background-color: lightgrey;
}
.testo{
    text-align: center;
    height: 400px;
    width: 600px;
    
}
h1,p{
    color: white;
}
p{
    margin: 20px;
}
h1{
    margin: 30px;
}
.button-black{
    background-color: black;
    color: white;
    border-radius: 30%;
    padding: 10px;
}
.container-tre{
   background-color: white;
    
    
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.news{
    color: black;
}

.testo2{
    
    display: flex;
    height : 300px;
    width: 400px;
    flex-direction: column;
    
    
}
.quadrato-azzurro{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    
}
.container-quattro{
    background-color: lightgrey;
    min-height: 400px;
   
    
    
}
.testo3{
    display: flex;
    height : 300px;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    
}
.quadrato-verde{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1000px;
    border: 1px dashed black;
}
.container-cinque{
    background-color: black;
    display: flex;
    border: 1px dashed black;

}
.quadrato-giallo{
    background-color: yellow;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 400px;
    border: 1px dashed black;
}
.quadrato-arancione{
    background-color: orange;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 150px;
    border: 1px dashed black;
}
hr{
    color: grey;
    border:1px solid grey;
}
.container-sei{
    min-height: 100px;
    display: flex;
    align-items: center;
    background-color: black;

}
.display{
    border: 1px dashed black;
    display: flex;
    background-color: aqua;
    width: 1000px; 
    height: 70px;
    align-items: center;
    justify-content: space-between;
    
   
}
.logo2,.bottone{
    background-color: lightgrey;
    border: 1px dashed black;
    height: 20px;
    display: flex;
   
}



